{% extends "webapp/base.html" %}
{% load static %}
{% block title %}404{% endblock %}

{% block content %}
<div class="page-single-2">
	<div class="container">
		<div class="row">
            <br>
            <br>
            <br>
			<br>
            <br>
            <br>
            <div class="middle-content">
				<img src="{% static 'webapp/images/uploads/err-img.png' %}" alt="">
				<h1>Page not found</h1>
				<a href="{% url 'home' %}" class="redbtn">go home</a>
			</div>
		</div>
	</div>
</div>
{% endblock %}