{% extends 'webApp/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %}LOGIN{% endblock %}

{% block content %}
<div class="page-single-2">
	<div class="container">
		<div class="row ipad-width">
			<div class="left-content">
				<a href=""><img class="md-logo"  alt=""></a>
				<h1>Password Reset</h1>
				<p>We are working hard to get back to you in</p>
				<div class="row">
					<div class="col-md-6 col-sm-12 ">
						<h3>Choose us</h3>
						<br>
						<form class="form-group-sm" style="display:inline-block"  method="POST" >
							{% csrf_token %}
							{{form.email.label_tag}}
							{{form.email|add_class:'email'}}
								<!-- <input class="email" type="text" placeholder="Enter your email">
								<input class="email" type="text" placeholder="password">
								<input class="email" type="text" placeholder="confirm password"> -->
								<input class="redbtn" style="margin-left: 0px;" type="submit" placeholder="Reset My Password" >
						</form>
						<small class="text-muted ml-2">
							<a href="{% url 'home' %}" class>go to home</a>
						</small>
					</div>
					<div class="col-md-6 col-sm-12 col-xs-12">
						<img class="cm-img" src="images/uploads/cm-img.png" alt="">
					</div>
				</div>
				
			</div>
		</div>
	</div>
</div>
<script src="js/jquery.js"></script>
<script src="js/plugins.js"></script>
<script src="js/plugins2.js"></script>
<script src="js/custom.js"></script>
<!-- 

<div class="hero common-hero">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="hero-ct">
					<h1> REGISTER</h1>
					<ul class="breadcumb">
						<li class="active"><a href="#">Home</a></li>
						<li> <span class="ion-ios-arrow-right"></span> register</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="page-single">
	<div class="container">
		<div class="row">
			<div class="col-md-9 col-sm-12 col-xs-12">
				<div class="blog-detail-ct">
                    <form method="POST" action="#">
                        {% csrf_token %}
                        <fieldset class="form"> <legend class="form">Log In</legend>
                            {{ form }}
                        </fieldset>
                        <div class="form">
                            <button class="btn btn-outline-info" type="submit">Login</button>
                            <small class="text-muted ml-2">
                                <a href="#">Forgot Password?</a>
                            </small>
                        </div>
                    </form>
                </div>
            </div>
        </div>  
    </div>
</div> -->

<!-- blog list section--><!-- 
<div class="login-content">
    <h3>sign up</h3>
    <form method="POST" action="#">
        {% csrf_token %}
        <fieldset class="form-group"> <legend class="border-bottom mb-4">Log In</legend>
            {{ form }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Login</button>
            <small class="text-muted ml-2">
                <a href="#">Forgot Password?</a>
            </small>
        </div>
    </form>
</div> -->

            {% endblock %}