{% extends 'webApp/base.html' %}
{% load static %}
{% block title %}Password Changed{% endblock %}
{% block content %}
<div class="page-single-2">
	<div class="container">
		<div class="row">
			<div class="middle-content">
				<a href="index-2.html"><img class="md-logo" src="images/logo1.png" alt=""></a>
				<img src="images/uploads/err-img.png" alt="">
				<h1>Your password has been changed</h1>
				<a href="{% url 'home' %}" class="redbtn">go home</a><br> <h6>or</h6><br>
                <a href="{% url 'profile' %}" class="redbtn">go to profile</a>
			</div>
		</div>
	</div>
</div>
{% endblock %}